@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --white: #fff;
  --black: #222222;
  --grey: #cccccc;
  --greyDark: #444444;
  --yellow: #fcf780;
  --blue: #65e5e1;
  --purple: #8e5c7f;
  --green: #1aa420;

  --background: var(--grey);
  --primary: var(--purple);
  --pitch: var(--green);
  --great: rgba(23, 181, 31, 0.7);
  --good: rgba(163, 211, 85, 0.7);
  --okay: rgba(252, 247, 128, 0.7);
  --competent: rgba(235, 150, 60, 0.7);
  --bad: rgba(240, 71, 71, 0.7);

  --debug: dashed 1px red;
  --br: 7px;
  --bs: 0 3px 6px var(--black);
  --bs-small: 1px 1px 2px var(--black);
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--pitch);
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
}
