@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --white: #fff;
  --black: #222222;
  --grey: #cccccc;
  --grey-dark: #444444;
  --greyDark: #444444;
  --yellow: hsl(58, 95%, 75%);
  --blue: hsl(203, 75%, 34%);
  --blue-light: hsl(203, 75%, 44%);
  --blue-dark: hsl(203, 75%, 24%);
  --purple: #8e5c7f;
  --green: #1aa420;

  --background: var(--grey);
  --background-stripe: #acabab;
  --text-colour-dark: var(--black);
  --text-colour-light: var(--white);
  --primary: var(--blue);
  --primary-light: var(--blue-light);
  --secondary: var(--yellow);
  --pitch: var(--green);
  --great: rgba(23, 181, 31, 0.7);
  --good: rgba(163, 211, 85, 0.7);
  --okay: rgba(252, 247, 128, 0.7);
  --competent: rgba(235, 150, 60, 0.7);
  --bad: rgba(240, 71, 71, 0.7);
  --error: #e90303e5;
  --error: rgba(233, 3, 3, 0.897);
  --disabled: #b0b0b0;
  --highlight: rgba(74, 153, 201, 0.4);

  --debug: dashed 1px red;
  --br: 7px;
  --bs: 0 3px 6px var(--black);
  --bs-small: 1px 1px 2px var(--black);
  --bs-inset: inset 1px 1px 2px var(--black);
  --max-width: 1000px;
  --font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100vw;
  width: 100vw;
}

body {
  font-family: var(--font-family);
  background-color: var(--pitch);
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: 52px 1fr auto;
  footer {
    grid-row: 3/4;
  }
}

a {
  color: var(--secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
}

a:hover,
a:focus {
  color: var(--text-colour-dark);
  background-color: var(--secondary);
}
